<style>
BODY {background: #ffffff ; color : #000000; text-align :justify}
H1 {font: 16pt verdana; color: #0000FF; text-indent: 1.1in}
H2 {font: 14pt verdana; color: #FF0000; text-indent: 0.9in}
H3 {font: 14pt Tahoma; color: #006000; text-indent: 0.7in}
H4 {font: 10pt Tahoma; color: #006000; margin-top: 0.02in; margin-bottom: 0.06in ;line-height:9pt}
H5 {font: 10pt Arial; color: #006000 ; text-indent: 0.5in}
H6 {font: 10pt Tahoma; color: #006300; text-indent: 0.7in; margin-top: 0.02in; margin-bottom: 0.06in ;line-height:9pt}
P {font: 12pt times;text-align :justify}
A:hover {text-decoration: none; color:#0000FF}
A {color:#FF0000
</style>
